:root {
  --cor-de-fundo: #ebecee;
  --cor-branco: #ffffff;
  --cor-cinza-claro: #f9f9f9;
  --cor-cinza-medio: #858585;
  --cor-cinza-escuro: #474646;
  --cor-azul: #002f52;
  --cor-preto: #000000;
  --cor-titulo: #eb9b00;
  --cor-azul-degrade: linear-gradient(
    97.54deg,
    #002f52 35.49%,
    #326589 165.37%
  );

  --fonte-principal: 'Poppins', sans-serif;
  --fonte-secundaria: 'Josefin Sans', sans-serif;
}
